@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Poppins:ital@1&family=Righteous&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(4, 134, 91);
  padding: 20px;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  text-align: center;
  max-width: 800px;
  margin: auto;
  margin-bottom: 50px;
  padding: 20px 0px;
}

li {
  display: flex;
  flex-direction: column;
}
a {
  text-decoration: none;
  cursor: pointer;
}
.certs {
  height: 500px;
  margin: 20px auto;
  display: none;
  cursor: pointer;
}


p, li {
  letter-spacing: 1px;
  font-size: 18px;
}
.projects {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  min-height: 180px;
  column-gap: 10px;
}
.project-tile {
  width: 200px;
  padding: 5px;
  height: 200px;
  margin: 20px auto;
  box-shadow: 0px 0px 2px 5px;
  border-radius: 10px;
  font-size: 16px;
  letter-spacing: normal;
  justify-content: space-around;
}
.project-tile-heading {
  font-weight: 600;
  color: aliceblue;
}
.languages-used {
  color: gold;
}
.section-heading {
  font-family: 'Courgette', cursive;
}
.social {
  display: flex;
}
.social a {
  color: black;
  margin: 10px;
  font-size: 30px;
  cursor: pointer;
}
.show {
  display: block;
}
.footer {
  position: fixed;
  background-color: rgba(130, 129, 129, 0.9);
  width: 100%;
  height: 50px;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer a {
  color: black;
  font-size: 18px;
  margin: 10px;
}
@media (max-width: 450px) {
  .project-tile {
    width: 80%;
    height: 150px;
    margin-bottom: 15px;
    padding-block: 20px;
  }
}